<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maratha.hema.marathabussinessapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/maratha"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logomaratha"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PhotoEditActivity"></activity>
        <activity android:name=".EditActivity" />
        <activity android:name=".SelectActivity" />
        <activity android:name=".EditDetailsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Approval.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".CustomerRegistrtion.RegActivity" />
        <activity android:name=".TypeSelect.InfoActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TypeSelect.BusinesstypeActivity" />
        <activity android:name=".TypeSelect.BusinesspersondetailsActivity" />
        <activity android:name=".Approval.ApprovalActivity" />
        <activity android:name=".TypeSelect.ImageShowActivity" />
        <activity android:name=".Approval.ApprovalDetailsActivity" />
        <activity android:name=".CustomerRegistrtion.AccountDetailsActivity" />
        <activity android:name=".CustomerRegistrtion.DocumentPhotoUploadActivity" />
    </application>

</manifest>